@import '../../common.scss';

.game-list-item {
    padding: .5em;

    &:not(:last-child) {
        border-bottom: 1px solid grey;
    }

    @media screen and (min-width: $md) {
        & {
            font-size: 1.125em;
        }
        
        &:last-child {
            border-bottom: 1px solid grey;
        } 
    }

    .winner {
        .game-list-item-team, .game-list-item-score {
            font-weight: bold;
            color: yellow;
        }
    }
    &-team {

        .team-logo {
            display: inline-block;
            width: 25px;
            margin-right: .5em;

            img {
                display: block;
                max-width: 100%;
            }
        }
    }
    &-score {
        text-align: right;
    }
    &-time {
        text-align: right;
    }    
}