@import '../../common.scss';

.game-list-item {
    padding: .5em;

    &:not(:last-child) {
        border-bottom: 1px solid grey;
    }
    .winner {
        font-weight: bold;
    }
    &-score {
        text-align: right;
    }
    &-time {
        text-align: right;
    }    
}