$font-stack: 'Roboto', sans-serif;
$text-color: #f2f2f2;
$sm: 600px;
$md: 960px;
$lg: 1280px;
$xl: 1920px;
$header-bg-color: #303030;

body {
    font-family: $font-stack;
    color: $text-color;
}

.full-height {
    height: 100vh;
}

.grow-1 {
    flex-grow: 1;
}

.app-header {
    padding: .25em 0;
    background-color: $header-bg-color;

    @media screen and (min-width: $md) {
        .app-icon {
            vertical-align: middle;
            font-size: 2rem;
        }
        .app-name {
            font-size: 2rem;
        }
    }
}